header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/../images/image-one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  padding: 150px 30px 100px;
  color: white;
  text-align: center;
}

h1 {
  font-family: "Afacad", serif;
  font-size: 96px;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Poppins", serif;
  font-size: 40px;
  font-weight: 300;
  padding: 10px;
  text-align: center;
}

h3 {
  font-family: "Poppins", serif;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
}

a {
  font-family: "Poppins", serif;
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.primary-button {
  background: black;
  border-radius: 8px;
  margin: 15px;
  padding: 10px 15px;
  transition: all 150ms ease-in-out;
}

.primary-button:hover {
  background: white;
  color: black;
}

main img {
  max-width: 100%;
  border-radius: 4px;
}

main h2 {
  font-family: "Afacad", serif;
  font-size: 40px;
  text-align: left;
}

main p {
  font-family: "Poppins", serif;
  font-size: 14px;
  padding-left: 10px;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  padding: 40px;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/../images/image-four.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  font-family: "Poppins", serif;
  font-size: 10px;
  padding: 60px;
  margin-top: 20px;
  color: white;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.links {
  margin-top: 10px;
  margin-bottom: 10px;
}

.details {
  text-align: right;
}

@media (max-width: 768px) {
  header {
    padding-top: 100px;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 16px;
  }

  .main-grid {
    grid-template-columns: 1fr;
  }

  main h2 {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  main p {
    padding-left: 0;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }

  .details {
    text-align: left;
  }
}

@media (max-width: 900px) {
  main h2 {
    font-size: 18px;
  }

  main p {
    font-size: 12px;
  }
}
