header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/../images/image-one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  padding: 150px 30px 100px;
  color: white;
  text-align: center;
}

h1 {
  font-family: "Afacad", serif;
  font-size: 96px;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Poppins", serif;
  font-size: 40px;
  font-weight: 300;
  padding: 10px;
}

h3 {
  font-family: "Poppins", serif;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.primary-button {
  background: black;
  border-radius: 8px;
  margin: 15px;
  padding: 10px 15px;
  transition: all 150ms ease-in-out;
}

.primary-button:hover {
  background: white;
  color: black;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/../images/image-four.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  font-family: "Poppins", serif;
  font-size: 10px;
  padding: 50px;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  header {
    padding-top: 100px;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 16px;
  }
}
